*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Barra de navegación */
.menu{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: rgb(0, 0, 0);
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 10px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.menu_items li i{
    font-size: 20px;
    margin-top: 5px;
    padding: 0;
    cursor: pointer;
}
.menu_items li:hover, li.active{
    /* background-color: rgba(0,0,0, .3); */
    transition: .4s;
}
.menu_items li a:hover{
    color: rgba(255, 0, 0, 0.9);
    transition: .3s;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 94%, 66%);
    border-color:hsl(0, 94%, 66%);
    border-radius: 3px;
    padding: 10px 17px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background: none;

}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: rgb(124, 124, 124);
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
@media screen and (max-width:952px){
    .logo{
        font-size: 18px;
        padding-left: 35px;
    }
    .menu_items{
        font-size: 18px;
    }
    .login{

    }
}
@media screen and (max-width: 858px) {
    .menu{
        height: 65px;
        background: #fff;
    }
    .menu_color{
        background: rgba(9, 16, 88, 0.8);
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: rgba(9, 16, 88, 0.8);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: rgba(0, 0, 0, 0.3);
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and(max-width:858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0 ;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

/* Fin de estilos Header */


/* Main Styles */

p{
    color: hsl(229, 8%, 60%);
    font-size: 18px;

}

h2, h3, h4, h5, h6{
    font-size: 18px;
}

/* First_container */

.first_screen {
    width: 100%;
    text-align: end;
}
.first_text{
    text-align: center;
    padding: 0px 50px;
}
.first_text h1{
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 1em;
}
.first_text p{
    line-height: 1.6;
}
.btn_first_chrome{
    background-color:  hsl(231, 69%, 60%);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 12px 17px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}
.btn_first_firefox{
    background-color:  hsl(0, 14%, 95%);
    color: rgb(102, 98, 98);
    border: none;
    border-radius: 5px;
    padding: 12px 17px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 0px 8px gray;
    font-family: 'Rubik', sans-serif;
}
/* Second Container */


.second_container h2{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 7em;
    text-align: center;
}

.second_container p{
    line-height: 1.6;
    text-align: center;
    padding: 0px 4vh;
}

.second_container button{
    padding: 12px 0;
    text-align: center;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: rgb(102, 98, 98);
}
.second_container button:hover{
    border-bottom: 1px solid #ff0000;
    color: black;
    transition: .4s;
}
.buttons{
    margin: 6vh 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border-width: 1px 0;
    border-style: solid;
    border-color: gray; */
}
.button_line{

}

/* Container drops */

.container_drop{
    margin-top: 5vh;
}

.img-drops{
    width: 100vh;
}
.card-body h5{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.card-body p{
    margin: 3vh;
}
.card-body button{
    text-align: center;
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: #fff;
    padding: 12px 17px;
    border-radius: 5px;
}
.card-button{
    text-align: center;
}

/* End of Container drops */

/* Third container Styles */

.third_container{
    margin-top: 7vh;
}
.third_container h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.third_container p{
    line-height: 1.6;
    text-align: center;
    padding: 0px 4vh;
}



.mini_containers div{
    box-shadow: 0px 0px 8px rgb(197, 193, 193);
    margin: 5vh 5vh;
    text-align: center;
}
.mini_containers .navegador{
    margin: 5vh 0;
}
.mini_containers h4{
    margin-bottom: 1vh;
}

.mini_containers button{
    background-color: hsl(231, 69%, 60%);
    border: none;
    color: #fff;
    padding: 12px 19px;
    border-radius: 5px;
    font-size: 19px;
    margin: 2vh 0;
    font-family: 'Rubik', sans-serif;

}

/* End of Third Container styles */

/* styles of the fourth container */

.fourth_container h5 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.fourth_container p{
    line-height: 1.6;
    text-align: center;
    padding: 0px 4vh;
    margin-bottom: 7vh;
}

/* Estilos del acordeón */
.acordeon{
    max-width: 100vh;
    min-height: 100px;
    align-items: center;
    text-align: center;
}

.subapartado{
    min-height: 50px;
}
.acordeon_titulo{
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 193, 193);
}
.acordeon_titulo img{
    width: 2vh;
    height: 1vh;
}
.acordeon_titulo h4{
    margin: 13px;
    font-size: 25px;
    font-weight: 400;
}
.info{
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 0.4s;
}
.info p{
    margin: 20px;
    text-align: center;
}
div.subapartado:hover div.info{
    height: 300px;
    transition: .4s;
}
@media screen and (max-width: 858px) {
    .acordeon_titulo{
        text-align: left;
    }
}


/* End of acordeon styles */


@media screen and (max-width: 1024px ) {
    .first_screen {
        width: 1%;
        background-color: #ff0000;
    }
}