*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

/* Barra de navegación */
.menu{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: rgb(0, 0, 0);
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 10px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.menu_items li i{
    font-size: 20px;
    margin-top: 5px;
    padding: 0;
    cursor: pointer;
}
.menu_items li:hover, li.active{
    /* background-color: rgba(0,0,0, .3); */
    transition: .4s;
}
.menu_items li a:hover{
    color: rgba(255, 0, 0, 0.9);
    transition: .3s;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 94%, 66%);
    border-color:hsl(0, 94%, 66%);
    border-radius: 3px;
    padding: 10px 17px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    background: none;

}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: rgb(124, 124, 124);
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
@media screen and (max-width:952px){
    .logo{
        font-size: 18px;
        padding-left: 35px;
    }
    .menu_items{
        font-size: 18px;
    }
    .login{

    }
}
@media screen and (max-width: 858px) {
    .menu{
        height: 65px;
        background: #fff;
    }
    .menu_color{
        background: rgba(9, 16, 88, 0.8);
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: rgba(9, 16, 88, 0.8);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: rgba(0, 0, 0, 0.3);
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and(max-width:858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0 ;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

/* Fin de estilos Header */


/* Main Styles */

p{
    color: hsl(229, 8%, 60%);
    font-size: 18px;

}

h2, h3, h4, h5, h6{
    font-size: 18px;
}

/* First_container */

.first_screen {
    width: 100%;
    text-align: end;
}
.first_text{
    text-align: center;
    padding: 0px 50px;
}
.first_text h1{
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 1em;
}
.first_text p{
    line-height: 1.6;
}
.btn_first_chrome{
    background-color:  hsl(231, 69%, 60%);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 12px 17px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}
.btn_first_firefox{
    background-color:  hsl(0, 14%, 95%);
    color: rgb(102, 98, 98);
    border: none;
    border-radius: 5px;
    padding: 12px 17px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 0px 8px gray;
    font-family: 'Rubik', sans-serif;
}
/* Second Container */
.second_container h2{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 7em;
    text-align: center;
}

.second_container p{
    line-height: 1.6;
    text-align: center;
    padding: 0px 4vh;
}

.second_container button{
    background: none;
    border: none;
    border-bottom: 1px solid #ff0000;
    
}